body {
  background-color: #339933;
  font-family: 'Fira Sans', sans-serif;
}

img {
  margin: 0 -12.5px 0 -12.5px;
}

form {
  max-width: 400pt;
  margin: 100pt auto;
  justify-content: center;
  text-align: center;
}

label {
  margin: 10pt;
}

.opponent {
  max-width: 300pt;
  margin: 5pt auto;
  text-align: center;
}

.human {
  max-width: 350pt;
  margin: 5pt auto;
  text-align: center;
}

.textInput {
  border-radius: 4pt;
}

#submit {
  margin: 10pt;
  width: 50pt;
}

.selected {
  border-color: #eec64f;
  border-width: 6px;
  border-style: solid;
  border-radius: 3px;
}

.buttonDiv {
  text-align: center;
}
