body {
  background-color: #339933;
  font-family: 'Fira Sans', sans-serif;
}

img {
  margin: 0 -12.5px 0 -12.5px;
}

form {
  max-width: 400pt;
  margin: 100pt auto;
  justify-content: center;
  text-align: center;
}

label {
  margin: 10pt;
}

.opponent {
  margin: 20px;
  text-align:center;
  padding: 0 20px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: nowrap;
}

.human {
  max-width: 350pt;
  margin: 5pt auto;
  text-align: center;
}

.textInput {
  border-radius: 4pt;
}

#submit {
  margin: 10pt;
  width: 50pt;
}

.deck {
  margin: 15px auto;
  text-align:center;
}

.selected {
  border-color: #eec64f;
  border-width: 6px;
  border-style: solid;
  border-radius: 3px;
}

.buttonDiv {
  text-align: center;
}

.log {
  text-align: left;
  display: inline-block;
  position: fixed;
  left: 10px;
  bottom: 25%;
}
